extends layout

block content
    h1= 'Simple Node App'
    p <strong> GET ROUTE </strong>
    p The key/value pair for string is #{string}
    br
    p <strong> POST ROUTE </strong>
    p Original String: #{original}
    p Length of String: #{length}

